{{!-- <div class="main-content-products flexed-item big-container"> --}}
<section id="games">
  {{!-- CATEGORY --}}
  <h4 id="game-h4" class="text-shadow-pop-top">Search Filters</h4>


  {{!-- Search Filters Form--}}
  <div id="search-div">
    <div>
      <form action="search" class="search-form">
        {{!-- Genre--}}
        <label class="label" for="games-favorite-genres">Genre</label>
        <select class="input" placeholder="Genre" id="games-favorite-genres" name="games-favorite-genres"
          value="games-favorite-genres">
          <option value="FPS">FPS</option>
          <option value="Action">Action</option>
          <option value="RPG">RPG</option>
          <option value="Fighting">Fighting</option>
          <option value="Shooter">Shooter</option>
          <option value="Infiltration">Infiltration</option>
          <option value="Horror">Horror</option>
          <option value="Adventure">Adventure</option>
          <option value="Racing">Racing</option>
        </select>
    </div>

    {{!-- Platform--}}
    <div>
      <label class="label" for="platforms">Platforms</label>
      <select class="input" id="platforms" name="platform" value="platforms">
        <option value="Xbox"><img src="/images/Settings-Page-Icons/Xbox.png" alt="Xbox Icon">Xbox</option>
        <option value="PC"><img src="/images/Settings-Page-Icons/PC.png" alt="PC Icon">PC</option>
        <option value="PS"><img src="/images/Settings-Page-Icons/PS.png" alt="PS Icon">PS</option>
        <option value="Nintendo"><img src="/images/Settings-Page-Icons/Nintendo.png" alt="Nintendo Icon">Nintendo
        </option>
      </select>
    </div>

    {{!-- Price--}}
    <div class="slidecontainer">
      <label for="myRange">Max price ($)</label>
      <input type="range" min="1" max="80" value="40" class="slider" id="myRange">
      <div>
        <p id="demo">Value: $</p>
      </div>
    </div>
  </div>


  {{!-- PRODUCTS--}}
  <section class="products-wrapper">
    <div class="products-infos">
      <h4 class="products-title">
        {{#compare category "collection" operator="==="}}
        Whole
        {{/compare}}
        {{#compare category "collection" operator="!="}}
        {{category}}
        {{/compare}}
        Collection <span id="products_count" class="products-count">({{games.length}})</span>
      </h4>
    </div>
    {{#unless games}}
    <p>Sorry, no games yet !</p>
    {{/unless}}
    <div id="products_grid" class="products-grid flexed-item">
      <a id="add-a-game" href="/game-add"><i class="fas fa-plus"></i>
        <p id="add-game">Add a game</p>
      </a>
      {{#each games}}
      <a href="/one-game/{{this._id}}" class="product-item-wrapper">
        <div class="product-img">
          <img class="product-images" src="{{this.image}}" alt="{{this.name}}">
        </div>
        <p class="product-name">{{this.name}}</p>
        <p class="product-cat">
          {{#each this.category}}
          {{this}}
          {{/each}}
        </p>
        <p class="product-price">${{this.price}}</p>
        <p class="product-cat">{{this.platform}}</p>
      </a>
      {{/each}}
    </div>
  </section>
  </div>
</section>