<div class="one-product-container">
  <div class="sneak-info">
    <div class="sneak-info-header">
        <div class="sneak-img-container">
    <img src="{{game.image}}" alt="img-game" class="sneak-img">
  </div>
      <h1 class="sneak-name">{{game.name}}</h1>
      
      <p class="sneak-description">{{game.description}}</p>
    </div>
    <div>{{game.platform}}</div>
    <div>{{game.category}}</div>
    <div>{{game.price}}</div>
    <button>Add to favourite</button>
  </div>
  </div>