<div class="one-product-container">
  <div class="game-info">
    {{!-- --}}
    {{!--<div class="game-info-header">--}}

    <div class="game-img-container">
      <h1 class="game-name titles">{{game.name}}</h1>
      <img src="{{game.image}}" alt="img-game" class="game-img">
    </div>

    <div class="description">
      <h1 class="game-description titles">DESCRIPTION</h1>
      <p class="game-description description-text">{{game.description}}</p>
      <a href="/add-to-favorite/{{game._id}}" class="add-to-favs-btn">Add to my favorites<i class="fas fa-heart"></i></a>
      <form style="display: inline" action="/games-manage" method="get">
        <button class="edit-btn">Edit <i class="fas fa-edit"></i></button>
      </form>
    </div>
    {{!-- </div>--}}
    <div class="game-attributes">
      <div class="game-platforms">
        <p class="uppercase">Platforms</p>
        <div>{{game.platform}}</div>
      </div>
      <div class="game-genres">
        <p class="uppercase">Genre</p>
        <div>{{game.category}}</div>
      </div>
      <div class="game-release">
        <p class="uppercase">Released</p>
        <div>2020</div>
      </div>
      <div class="game-price">
        <p class="uppercase">Price</p>
        <div>{{game.price}}</div>
      </div>
    </div>


  </div>
</div>



{{!-- <a id="redirect-to-edit" href="/game_manage"><i class="fas fa-edit"></i>--}}